:root {
  --port-green: #046A38;
  --port-red: #DA291C;
  --port-gold: #d4af37;
  --main-bg: #e9f7eb; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

a {
  font-size: 1.8rem;
}

#content {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 8% minmax(min-content, 84%) 8%;
}

header {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: .3rem solid var(--port-green);
  background-color: var(--main-bg);
  z-index: 20;
}

#contentBody {
  width: 100%;
  height: 100%;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg);
}

#tabContainer {
  width: 100%;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabLink {
  padding: .5rem;
  margin: .2rem 1rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.tabLink:hover {
  margin: 0 1rem;
  padding-top: 1.2rem;
  cursor: pointer;
}

#mainView {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainView div {
  margin: 1rem;
}

#imgContainer {
  width: 50%;
  height: 50%;
  display: flex;
}

#imgContainer img {
  height: 48rem;
  width: 48rem;
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: .3rem solid var(--port-gold);
}

#writeUpContainer {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#writeUpContainer * {
  padding: .5rem;
}

#menuView {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menuView > h3 {
  margin: 1.2rem;
}

#menuContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  gap: 1.2rem;
  padding: 2rem;
}

.indvMenuItem {
  display: flex;
}

.menuItemImg {
  width: 18rem;
  height: 22.5rem;
  object-fit: cover;
  aspect-ratio: 5/6;
  border: .3rem solid var(--port-gold);
}

.menuItemWriteupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menuItemHeader {
  padding: 1.2rem;
}

.menuItemBodyText {
  padding: 1.2rem;
}

@media (width <= 1024px) {
  #menuContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

#contactView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#contactImgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
}

#contactImgContainer img {
  max-width: 100%;
  height: 100%;
  padding: .3rem;
  background-color: var(--port-gold);
}

#contactInfoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#contactInfoContainer h3 {
  margin-bottom: 3rem;
}


footer {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: .3rem solid var(--port-red);
  background-color: var(--main-bg);
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
}

footer a {
  color: var(--port-red);
}

@media (width <= 500px) {
  html {
    font-size: 8px;
  }
  #mainView {
    flex-direction: column;
  }
  #writeUpContainer {
    width: 100%;
    height: 40%;
  }
  #imgContainer {
    height: 40%;
    width: 100%;
    justify-content: center;
  }
  #menuContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}